{% extends 'nine/base.html' %}
{% load common_extras %}
{% block title %}
	学生更新
{% endblock %}
{% block content_context %}
	<form action="{% url 'student_add' %}" method="get">
		<input type="hidden" name="id" value="{{ student.id }}">
		<ul>
			<li>姓名：<input type="text" name="name" id="" value="{{ student.name }}" autocomplete="off"></li>
			<li>学分：<input type="number" name="credit" id="" value="{{ student.credit }}" autocomplete="off"></li>
			<li>
				班级：
				<select name="classes">
					{% for classes in classes_list %}
						<option value="{{ classes.id }}"
								{% if classes.id == student.classes.id %}selected{% endif %}>{{ classes.name }}</option>
					{% endfor %}
				</select>
			</li>
			{% with student.studentdetails as details %}
                <li>年龄：<input type="number" autocomplete="off" name="age" value="{{ details.age|isnull }}"></li>
                <li>
                    性别：
                    <input type="radio" name="sex" value="0" {% if details.sex == 0 %}checked{% endif %}>男
                    <input type="radio" name="sex" value="1" {% if details.sex == 1 %}checked{% endif %}>女
                </li>
                <li>城市：<input type="text" autocomplete="off" name="city" value="{{ details.city|isnull }}"></li>
                <li>备注：<textarea name="note">{{ details.note|isnull }}</textarea></li>
            {% endwith %}
			<li><input type="submit" value="提交"><input type="reset" value="重置"></li>
		</ul>
	</form>
{% endblock %}