{% extends 'nine/classes.html' %}
{% load common_extras %}
{% block title %}
	学生
{% endblock %}
{% block menu %}
	<li><a href="{% url 'page' index='student_add' %}">添加学生</a></li>
{% endblock %}
{% block border_context %}
	<tr>
		<td>姓名</td>
		<td>学分</td>
		<td>注册时间</td>
		<td>班级名</td>
		<td>班级口号</td>
		<td>年龄</td>
		<td>性别</td>
		<td>城市</td>
		<td>备注</td>
		<td>信息更新时间</td>
		<td>操作</td>
	</tr>
	{% for student in student_list %}
		<tr>
			<td>{{ student.name }}</td>
			<td>{{ student.credit }}</td>
			<td>{{ student.create_time|date:'Y/m/d H:i:s' }}</td>
			{% with student.classes as classes %}
				<td>{{ classes.name }}</td>
				<td>{{ classes.slogan }}</td>
			{% endwith %}
			{% with student.studentdetails as details %}
				<td>{{ details.age|isnull }}</td>
				<td>{{ details.sex|sex_change }}</td>
				<td>{{ details.city|isnull }}</td>
				<td>{{ details.note|isnull }}</td>
				<td>{{ details.update_time|date:'Y/m/d H:i:s' }}</td>
			{% endwith %}
			<td>
				{% block operation %}
					<a href="{% url 'student_del' id=student.id %}">删除</a>
					<a href="{% url 'student_update' id=student.id %}">修改</a>
				{% endblock %}
			</td>
		</tr>
	{% endfor %}
{% endblock %}
